<!doctype html>
<html>
    <head>
        <link rel="stylesheet" href="@routes.Assets.versioned('assets/bootstrap/css/bootstrap.css')">
        <script type='text/javascript' src='@routes.Assets.versioned("assets/bootstrap/js/bootstrap.js")'></script>
        <title>HomePage</title>
    </head>
    <body>
        <h1>This is myCrappyWebpage TM</h1>
        <p>
            Welcome to myCrappyWebpage TM, here is a list of places you can go to avoid this homepage
        </p>
        <ul>
            <li>Home</li>
            <li><a href="localhost:9000/createAcc">Create Account</a></li>
            <li>Login</li>
        </ul>
    </body>
</html>