<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!-->
    <link rel="stylesheet" href="csstemplate.css" type="text/css">
    <link rel="stylesheet" href="public/bootstrap/css/bootstrap.min.css" type="text/css">
    <title>What Goes in the Tab</title>
</head>
<body>
    <h1>Large heading</h1>
    <h2>Medium heading</h2>
    <h3>Small heading</h3>

    <div class="exampleclass">
        <p>Some cool stuff. A div is mainly used for grouping entities in order to isolate their positioning and characteristics from the rest of the html.</p>
    </div>
    <div class="form-group">
        <label for="usr"><em>Name:</em></label><br>
        <input type="text" class="form-control" id="usr">
    </div>
    <div class="form-group">
        <label for="pwd"><strong>Password:</strong></label><br>
        <input type="password" class="form-control" id="pwd">
    </div>
    <button type="button" class="btn btn-primary">TextInsideButton</button>

</body>
</html>